// For vertical spacing. This utility makes such that every direct children that isn't the first child will have margin top (src Andy Bell)
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

// Sets max-width, horizontally centers items, consistent gutter (src Andy Bell)
.wrapper {
  width: 90vw;
  width: clamp(
    16rem,
    90vw,
    75rem
  ); //min width 256px, ideal width 90vw, max width 1200px
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter, 1rem);
  padding-right: var(--gutter, 1rem);
}

/**
 * REGION 
 * Add consistent vertical padding to create regions of content 
 * Can either be configured by setting --region-space or use a default from the space scale
 (src Andy Bell)
 */
.region {
  padding-top: var(--region-space, var(--space-xl-2xl));
  padding-bottom: var(--region-space, var(--space-xl-2xl));
}

.sr-only {
  /* for accessibility */
  position: absolute; /* Remove it from the document flow */
  width: 1px; /* Reduce size to the minimum */
  height: 1px; /* Same as width */
  margin: 0; /* No margin */
  padding: 0; /* No padding */
  overflow: hidden; /* Hide overflow */
  clip: rect(0, 0, 0, 0); /* Clip the element */
  white-space: nowrap; /* Prevent line breaks */
  border: 0; /* No border */
}

.barlow {
  font-family: $font-base, $font-serif;
  font-style: normal;
}

.text-normal {
  font-weight: $font-normal;
}

.text-medium {
  font-weight: $font-medium;
}

.text-bold {
  font-weight: $font-bold;
}

.text-s {
  font-size: var(--step--1);
}

.text-m {
  font-size: var(--step-1);
}

.text-l {
  font-size: var(--step-2);
}

.color-black {
  color: $font-black;
}

.color-black-50 {
  color: $font-black-50;
}

.color-black-70 {
  color: $font-black-70;
}

.color-white {
  color: $font-white;
}

.color-white-50 {
  color: $font-white-50;
}

.color-white-70 {
  color: $font-white-70;
}

// Margin Auto Utilities
.margin-x-a {
  margin-inline: auto;
}

.margin-y-a {
  margin-block: auto;
}

.margin-a {
  margin: auto;
}

.margin-top-a {
  margin-top: auto;
}

.margin-right-a {
  margin-right: auto;
}

.margin-bottom-a {
  margin-bottom: auto;
}

.margin-left-a {
  margin-left: auto;
}

.margin-inline-start-a {
  margin-inline-start: auto;
}

.margin-inline-end-a {
  margin-inline-end: auto;
}

.margin-block-start-a {
  margin-block-start: auto;
}

.margin-block-end-a {
  margin-block-end: auto;
}

//background colours
.bg-gray {
  background-color: $light-gray;
}

.bg-violet {
  background-color: $moderate-violet;
}

.bg-white {
  background-color: $white;
}

.bg-dark-black-blue {
  background-color: $dark-blackish-blue;
}

.bg-dark-gray-blue {
  background-color: $dark-grayish-blue;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-light-gray-blue {
  background-color: $light-grayish-blue;
}
